body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3 {
  color: #2e2f42;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.header-nav-menu,
.header-address-menu {
  gap: 40px;
}

.header .logo {
  color: #4d5ae5;
}

.header .logo-studio {
  color: #2e2f42;
}

.header-nav-menu-items {
  font-weight: 500;
}

.header-nav-menu-link {
  color: #2e2f42;
}

.header-nav-menu-link:hover,
.header-nav-menu-link:focus {
  color: #404bbf;
}

.header-nav-menu-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}

.header-address-menu-item {
  color: #434455;
}

.header-address-menu-item:hover,
.header-address-menu-item:focus {
  color: #404bbf;
}

/* Main Top */

.main-top {
  background-color: #2e2f42;
}

.main-top .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-top-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  width: 496px;
  margin-bottom: 48px;
}

.main-top-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 16px 32px;
}

.main-top-button:hover,
.main-top-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* Main Advantages  */

.main-advantages .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-advantages-items {
  gap: 24px;
}

.main-advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}

/* Main Our Team */

.main-our-team {
  background-color: #f4f4fd;
}

.main-our-team .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-our-team-title {
  margin-bottom: 72px;
}

.main-our-team-items {
  gap: 24px;
}

.main-our-team-item {
  background-color: #fff;
  padding-bottom: 32px;
  width: calc((100% - 3 * 24px) / 4);
}

.main-our-team-item-image {
  margin-bottom: 32px;
}

.main-our-team-item-title {
  text-align: center;
  margin-bottom: 8px;
}

.main-our-team-item-text {
  text-align: center;
}

/* Main Our Portfolio */

.main-our-portfolio .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-our-portfolio-title {
  margin-bottom: 72px;
}

.main-our-portfolio-items {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.main-our-portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.main-our-portfolio-item-title {
  margin-bottom: 8px;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo {
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
}
